# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Build / dist
dist/
build/
.gradle/

# Expo / React Native
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Java
*.class
*.jar
*.war
*.ear

# Env / secrets
.env
.env.local
.env.*.local

# Logs
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Vite
.vite/